DATABASE_TYPE='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_USERNAME='postgres'
DATABASE_PASSWORD='ADD YOUR DATABASE PASSWORD HERE'
DATABASE_DATABASE='ADD YOUR DATABASE NAME HERE'
DATABASE_AUTOLOADENTITIES=1
DATABASE_SYNCHRONIZE=0
DATABASE_URL=

JWT_SECRET=PUT-YOUR-SECRET-KEY-HERE
JWT_TOKEN_AUDIENCE='http://localhost:3000'
JWT_TOKEN_ISSUER='http://localhost:3000'
JWT_TTL=3600
JWT_REFRESH_TTL=86400

APP_PORT=3000
NODE_ENV='development'

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER='EMAIL_USER GOES HERE'
EMAIL_PASS='EMAIL_PASS GOES HERE'
EMAIL_FROM=no-reply@example.com